body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#message-container {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 5px;
    display: none;
}


#password-toggle, #password-toggle-signup {
    cursor: pointer;
    color: #007bff;
    font-size: 14px;
    position: absolute;
    top: 15px;
    right: 10px;
}
/* OTP Container Styling */
#otp-container {
    display: none;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Heading Styling */
#otp-container h2 {
    text-align: center;
    color: #333;
}

/* Paragraph Styling */
#otp-container p {
    text-align: center;
    color: #555;
}

/* QR Code Styling */
#otp-container .qr-code-container {
    text-align: center;
    margin-bottom: 20px;
}

#otp-container #qr-code {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* OTP Code Label Styling */
#otp-container label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

/* OTP Code Input Field Styling */
#otp-container #otp-code {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Submit OTP Button Styling */
#otp-container #submit-otp {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#otp-container #submit-otp:hover {
    background-color: #45a049;
}
